{% extends "header.html" %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="tablediv">
        <h1 style="text-align:center;">PLAYER STATS</h1>
            <table id="player_leaderboard">
                <tr>
                    <th colspan="1">NAME</th>
                    <th colspan="1">KILLS</th>
                    <th colspan="1">DEATHS</th>
                    <th colspan="1">AVERAGE DISTANCE</th>
                    <th colspan="1">K/D</th>
                    <th colspan="1">Last Online</th>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
$.ajax({
  type: 'GET',
  url: '/api/server_stats/player_leaderboard/',
  dataType: 'json',
  success: function(data) {
    var player_leaderboard_content = '';
    $.each(data, function(index, item){
        player_leaderboard_content += '<tr><td>' + item.NAME + '</td>';
        player_leaderboard_content += '<td>' + item.KILLS + '</td>';
        player_leaderboard_content += '<td>' + item.DEATHS + '</td>';
        player_leaderboard_content += '<td>' + item.AVERAGE_DISTANCE + '</td>';
        player_leaderboard_content += '<td>' + item.KD + '</td>';
        player_leaderboard_content += '<td>' + item.LAST_ONLINE + '</td></tr>';
    });
    $(player_leaderboard_content).appendTo("#player_leaderboard");
  }
});
</script>

{% endblock %}